

<!-- _blog.html.erb -->

<div id="<%= dom_id blog %>" class="post">
  <div class="text-center">
    <div class="user-details">
      <div class="user-avatar">
        <!-- ユーザーのアバター画像が表示される予定 -->
      </div>
      <span class="username">ユーザー名</span>
    </div>
    <h3 class="text-left"><%= blog.title %></h3> 
    <div class="row">
      <div class="col">
        <%= image_tag(blog.image, size: "300x200", class: "responsive-image") if blog.image.present? %>
      </div>
      <div class="col content-col">
        <span class"username"><%= blog.content %></span>
      </div>
    </div>
    <div class="post-details">
      <span class="post-timestamp"><%= blog.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      <%= link_to "詳細を見る", blog, class: "view-link" %>
    </div>
  </div>
</div>







