
<!-- _blog.html.erb -->

<div id="<%= dom_id blog %>" class="post">
    <div class="user-details">
      <div class="user-avatar" id="avatar"> <!-- ① -->
        <% if blog.user && blog.user.avatar.present? %>
          <%= image_tag blog.user.avatar, class: "current-avatar", id: "avatar_preview" %>
        <% else %>
          <%= image_tag "default_avatar.jpg", class: "current-avatar", id: "avatar_preview" %>
          <input type="file" name="avatar" onchange="avatarImage(this);" accept="image/jpeg,image/gif,image/png" class="custom-file-input" id="avatarIcon" style="display: none;">
        <% end %>
      </div>
      <h5 class="usernames"><%= blog.user&.name %></h5>
    </div>

    <h3 class="text-left"><%= blog.title %></h3>
    <% if request.path == blog_path(blog) %>
    <%= content_tag(:span, blog.faculty, class: "text-right #{faculty_background_class(blog.faculty)}") %>
    <%= content_tag(:span, blog.rating, class: "text-right #{rating_background_class(blog.rating)}") %>
    <% else %>

    <% end %>

    <div class="post-details">
      <div class="row">
        <div class="col">
          <%= image_tag(blog.image, size: "300x200", class: "responsive-image") if blog.image.present? %>
        </div>
        <div class="col content-col">
          <% if request.path == blog_path(blog) %>
            <span class="usercontent"><%= blog.content %></span>
          <% else %>
            <% if blog.faculty.present? %>
              <span class="text-right"><%= blog.faculty %></span>
            <% end %>
            <% if blog.rating.present? %>
              <span class="text-right"><%= blog.rating %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="time-details">
      <span class="post-timestamp"><%= blog.created_at.in_time_zone("Tokyo").strftime("%Y-%m-%d %H:%M") %></span>

      <% if current_page?(controller: 'blogs', action: 'index') %>
      <!-- indexページの場合、何も表示しない -->
        <% else %>
          <% if blog.user == current_user %>
            <div class="delete-button-container">
              <%= button_to blog_path(blog), method: :delete, :onclick => "return check_form()" do %>
                <i class="fa-solid fa-trash"></i> 削除
              <% end %>
            </div>
          <% end %>
      <% end %>
      

      <% if request.path == blog_path(blog) %>
      
      <% else %>
       <%= link_to '詳細を見る', blog_path(blog), style: 'text-decoration: none; border-bottom: 1px solid #c7c7c7; outline: none; background: none; cursor: pointer; padding: 0.5vw; color: #000000; ', class: 'custom-link' %>
      <% end %>
    </div> 
</div>

<script>
  function check_form() {
    // 確認ダイアログを表示し、OK ボタンが押された場合に true を返す
    var confirmed = window.confirm("削除しますか？");
    
    // OK ボタンが押された場合のみフォームを送信
    return confirmed;
  }
</script>










