<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fukuoka view</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag 'uploads.form', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="container">
        <%= form_with(model: blog) do |form| %>
          <% if blog.errors.any? %>
            <div class="error">
              <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
    
              <ul>
                <% blog.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="submit-button">
            <%= button_tag type: "submit" do %>
              <i class="far fa-paper-plane"></i><div class="new">投稿</div>
            <% end %>
          </div>
    
          <div>
            <%= form.label :title, raw('<i class="fas fa-map-marker-alt"></i>場所・お店'), id: "title" %>
            <%= form.text_field :title, placeholder: "おすすめの場所を教えてください。" %>
          </div>
    
          <div>
            <%= form.label :content, raw('<i class="fas fa-star"></i>ポイント'), id: "content" %>
            <%= form.text_area :content, placeholder: "どんな場所でしたか？" %>
          </div>
    
            <div class="file-input">
              <%= form.label :image, class: "file-label" do %>
                <i class="far fa-image"></i>
              <% end %>
              <%= form.file_field :image, style: "display: none;" %>
            </div>

        <% end %>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
  