<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fukuoka view</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <%= stylesheet_link_tag 'user.show', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

    <main>
        <div class="my-1">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <div class="card">
                                <div class="user-avatar" id="avatar"> <!-- ① -->
                                    <% if current_user && current_user.avatar.present? %>
                                      <%= image_tag current_user.avatar, class: "mb-2 current-avatar", id: "avatar_preview" %>
                                    <% else %>
                                      <label for="avatarIcon">
                                        <%= image_tag "default_avatar.jpg", class: "mb-2 current-avatar", id: "avatar_preview" %>
                                      </label>
                                      <input type="file" name="avatar" onchange="avatarImage(this);" accept="image/jpeg,image/gif,image/png" class="custom-file-input" id="avatarIcon" style="display: none;">
                                    <% end %>
                                    </div>
                                <div class="card-body">
                                <h5 class="card-title"><%= current_user.name %></h5>
                                <h6 class="cars-subtitle mb-2 text=muted"><%= current_user.email %></h6>
                                <div class="right">
                                    <%= link_to '編集', edit_user_path %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>
